.sm-modal.sm-modal_box(tabindex="-1", role="dialog")#modal-contact
    .sm-modal_box-backdrop(data-modal-close)
    .sm-modal_box-dialog(role="document")
        .sm-modal_box-close
            button.sm-btn.sm-btn_close(aria-label="Close", data-modal-close)
                +svgicon('times-o')
        .sm-modal_box-content
            .sm-modal_box-container
