meta(charset='utf-8')
block title
    title Title
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=3.0')
meta(name="cmsmagazine" content="17ded5a9362aae72cf758d760240d50b")
link(rel='stylesheet', href='/assets/css/main.css?v=' + PACKAGE.version)
